body{
  background-color:#F7ECDE;
}
hr {
  background: none;
  border-style: dotted hidden hidden;
  border-width: thick;
  border-color: white;
  height: 2px;
  width: 50px;

}
h1{
  color: #A7D2CB;
}
h3{
    color: #A7D2CB;
}
